<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Licenciamento">
    <p class="form-title">Licenciamento</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Renovação">
    <p class="form-title">Renovação</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Filial">
    <p class="form-title">Filial</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Actualizações">
    <p class="form-title">Actualizações</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Escolta de Valores - Mercadoria">
    <p class="form-title">Escolta de Valores / Mercadoria</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Canídeo">
    <p class="form-title">Canídeo</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Uso de Uniforme / Logotipo">
    <p class="form-title">Uso de Uniforme / Logotipo</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Importação e Desalfandegamento de Meios">
    <p class="form-title">Importação e Desalfandegamento de Meios</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Transferência de Armas">
    <p class="form-title">Transferência de Armas</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo_pedido" value="Comercialização de Meios e Equipamentos">
    <p class="form-title">Comercialização de Meios e Equipamentos</p>
    <div class="input-container">
        <input type="file" name="ficheiro" required>
    </div>
    <button class="submit" type="submit">
        Enviar
    </button>
</form>