{% extends 'base.html' %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
{% if user.is_anonymous %}


<div class="login" style="width: 100%;">
    <form class="form" method="post">
        {% csrf_token %}

        <p class="form-title">Insira o seu email</p>
        <div class="input-container">
            <div class="input-container">
                <input placeholder="Email" type="email" name="email" autocomplete="email" required>
            </div>
        </div>
        <button class="submit" type="submit">
            Enviar
        </button>
    </form>
</div>
{% else %}
{% url 'index' as redirect_to %}
<script>
    window.location.href = "{{ redirect_to }}";
</script>
{% endif %}
{% endblock %}