{% extends 'base.html' %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
{% if validlink %}
<div class="login" style="width: 100%;">
    <form class="form" method="post">
        {% csrf_token %}

        <p class="form-title">Definir nova senha</p>
        <div class="input-container">
            <input placeholder="Nova Senha" type="password" name="new_password1" id="newPassword1">
        </div>
        <div class="input-container">
            <input placeholder="Confirmar Nova Senha" type="password" name="new_password2" id="newPassword2">
        </div>
        <ul class="error">
            <li>A sua senha deve conter pelo menos 8 caracteres</li>
            <li>A sua senha não pode ser uma senha comum</li>
            <li>A sua senha não pode ser apenas números</li>
            
        </ul>
        <ul class="error">
            <li class="text-red" id="errorMessage"></li>
        </ul>
        <button class="submit" type="submit">
            Alterar Senha
        </button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var newPassword1 = document.getElementById('newPassword1');
      var newPassword2 = document.getElementById('newPassword2');
      var errorMessage = document.getElementById('errorMessage');

      function checkPasswords() {
        if (newPassword1.value !== newPassword2.value) {
          errorMessage.textContent = 'As senhas não coincidem.';
        } else {
          errorMessage.textContent = '';
        }
      }

      newPassword1.addEventListener('input', checkPasswords);
      newPassword2.addEventListener('input', checkPasswords);
    });
  </script>
{% else %}
<div class="login" style="width: 100%;">
<div class="form">
    <p class="form-title">Link Inválido</p>
    <ul class="error">
        <li class="text-red">O link para recuperar a sua palavra-passe está incorrecto, possivelmente porque ele já
            foi
            utilizado.
            Por favor, solicite um novo link para recuperar a palavra-passe</li>
    </ul>
</div>
</div>
{% endif %}
{% endblock %}