{% extends 'base.html' %}

{% block title %}Link enviado{% endblock %}

{% block content %}
{% if user.is_anonymous %}

<div class="login" style="width: 100%;">
    <div class="form">
        <p class="form-title">Link de redefinição de senha enviado</p>
        <br>
        <p class="signup-link">
            Nós enviamos um email com as instruções para recuperar a sua senha, caso a sua conta estiver
            vinculado um email receberá o link
            para recuperar a sua conta rapidamente. Caso não receba verifique a sua caixa de <strong>SPAM</strong>.
        </p>
    </div>
</div>
{% else %}
{% url 'index' as redirect_to %}
<script>
    window.location.href = "{{ redirect_to }}";
</script>
{% endif %}
{% endblock %}