{% extends 'dash.html' %}
{% load static %}

{% block title %}Avaliação e Validação dos Documentos{% endblock %}

{% block nav_av %}active_menu_link{% endblock %}

{% block container %}

{% include 'componentes/toast.html' %}

{% if user.profile_type == 'eps' or user.profile_type == 'sap' or user.profile_type == 'centro'%}
    {% include 'modules/avaliacao_validacao.html' %}
{% else %}
    {% include 'componentes/protect.html' %}
{% endif %}
<style>
    .main__container{
        flex-direction: column;
    }
</style>
{% endblock %}
