<div class="form3">
    <p class="form-title">Minhas Informações</p>
    <div class="group-text">
        <h3 class="text-title">Nome:</h3>
        <p class="p-text">{{ user.dspo.nome }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">NIP:</h3>
        <p class="p-text">{{ user.username }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Email:</h3>
        <p class="p-text">{{ user.email }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Telefone:</h3>
        <p class="p-text">{{ user.telefone }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Comando Provincial:</h3>
        <p class="p-text">{{ user.dspo.comando }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Função:</h3>
        <p class="p-text">{{ user.dspo.funcao }}</p>
    </div>
</div>