<div class="form3">
    <p class="form-title">Minhas Informações</p>
    <div class="group-text">
        <h3 class="text-title">Nome da Instituição:</h3>
        <p class="p-text">{{ user.sap.nome }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">NIF:</h3>
        <p class="p-text">{{ user.username }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Email:</h3>
        <p class="p-text">{{ user.email }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Telefone:</h3>
        <p class="p-text">{{ user.telefone }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Morada da Instituição:</h3>
        <p class="p-text">{{ user.sap.morada }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Nome do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_nome }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Função do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_funcao }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">NIF / BI do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_id }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Morada do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_morada }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Email do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_email }}</p>
    </div>
    <div class="group-text">
        <h3 class="text-title">Telefone do Sócio / Gerente:</h3>
        <p class="p-text">{{ user.sap.sg_telefone }}</p>
    </div>
</div>